################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModuleTopology/bin/Debug/net6.0
/ModuleTopology/obj
